@using JamZoo.Project.WebSite.ViewModels;
@model DatabaseSearchPage
@{
    var DetailPage = Model.DetailPages[Model.DetailI];
    var ColorArray = DetailPage.EnergyInfo.ColorArray;
    string strColor = "['#47bbf7','#ffcc66','#b18cc4','#a5a5a5','#ca5c3b','#009b62','#71ad3c','#d88098','#fc0','#cccccc','#ce0000','#339933','#3399cc','#0066cc','#ff33cc','#99cc00','#ff6600','#339999','#cc33cc','#ffcc00','#00ccff','#cc3366','#66cccc','#6699cc']";
    if (ColorArray.Count() > 0)
    {
        strColor = DetailPage.EnergyInfo.ColorJsonString;
    }
}
<script>
$(function () {
    //國家名+value
var data = [
    @(Html.Raw(DetailPage.MapJson))
    ];

    $('#chart_inner').highcharts('Map', {
        credits:{enabled:false},
        title : {
            text : ''
        },

        subtitle : {
            text : ''
        },

        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },

        colorAxis: {
        min: 0,
		minColor: '#425486',//淺色bg
        maxColor: '#2b3656',//深色bg
    },

        series : [{
            data : data,
            mapData: Highcharts.maps['custom/world'],
            joinBy: 'hc-key',
            name: '@(DetailPage.EnergyInfo.Name)',
            states: {
                hover: {
                    color: '#85bd74'
                }
            },
            tooltip: {
            backgroundColor: 'none',
            borderWidth: 0,
            shadow: false,
            useHTML: true,
            padding: 0,
            pointFormat: '<span style="font-size:15px;font-family:"\5Fae\8Edf\6B63\9ed1\9ad4","Gulim",sans-serif;">{point.name}</span><br>' +
                '<span style="font-size:35px;letter-spacing:-.07em;">{point.value}</span>',
        },
            dataLabels: {
                enabled:false,//顯示國家名
                    formatter: function () {
                    if (this.point.value) {
                        return this.point.name;
                    }
                }
            }
        }]
    });
});

//下載圖/pdf/列印此圖，此頁語法不同其他頁
$(".chart_nav>li>a>.icon7").click(function(){var a=$("#chart_inner").highcharts();a.exportChartLocal({type:"image/png"})});
$(".chart_nav>li>a>.icon8").on("click",function(b){var a=$("#chart_inner").highcharts();a.exportChart({type:"application/pdf",filename:"WorldMap-pdf"})});
$(".chart_nav>li>a>.icon9").on("click",function(){$("#chart_inner").printThis({})});
</script>