/原始碼/srcv2/packages
/原始碼/srcv2/.vs
/原始碼/srcv2/Database/obj
/原始碼/srcv2/Database/bin
/原始碼/srcv2/WebSite/obj
/原始碼/srcv2/WebSite/bin
/封存.zip
/原始碼/DotNet6/Energy/.vs
/原始碼/DotNet6/Energy/bin
/原始碼/DotNet6/Energy/obj
/資料庫備份/vvspor-energy_v2_bak_20221204030011.BAK
/原始碼/DotNet6/Energy/logs
/原始碼/srcv2/Database/Database.dbmdl
