<footer class="moe_footer text-center">
    <abbr class="abbr">經濟部能源局 - 能源統計專區</abbr>
    <ul class="foo_ul">
        <li><i class="icon ion-md-navigate"></i><span class="mobile">聯絡地址：10492 </span>臺北市中山區復興北路2號13樓</li>
        <li><i class="icon ion-ios-call"></i><span class="mobile">電話：</span>(02)2772-1370</li>
        <li><i class="icon ion-md-print"></i><span class="mobile">傳真：</span>(02)2776-9417</li>
        <li><i class="icon ion-md-print"></i><span class="mobile">/</span> (02)2711-5891</li>
    </ul>
</footer>
