@{
    Layout = "know_3min_master.cshtml";
}

<article class="container section_pad">
    <blockquote class=" col-lg-10 f_c">
        <h2 class="std_h2caption text-center">3分鐘懂能源</h2>
        <div class="row know3min">
            <section class="box4 col-sm-6">
                <a href="@Url.Content("~/College/know_3min1")" >
                    <figure class="svg_figure fill_1">
                        <svg viewBox="0 0 90 90">
                            <path d="M57,10.5l-30,16.8h31.3L57,10.5z M51.6,43h12.7v-4.7H51.6V43z M49.1,30.3H37v5h12.1V30.3z M34.5,38.2H22.3V43  h12.2V38.2z M64.3,30.3H51.6v5h12.7V30.3z M37,43h12.1v-4.7H37V43z M34.5,30.3H22.3v5h12.2V30.3z M11.8,46.1l10.7,33.4h45l10.7-33.4  H11.8z M42.3,78.3L44,66.1H33.8l9.7-17.9l-2.1,12.5h9.9L42.3,78.3z" />
                        </svg>
                        <figcaption>能源供給</figcaption>
                    </figure>
                </a>
            </section>
            <section class="box4 col-sm-6">
                <a href="@Url.Content("~/College/know_3min2")">
                    <figure class="svg_figure fill_2">
                        <svg viewBox="0 0 90 90">
                            <path d="m51.2 10.5-36.7 36.7 6.2 6.2 5.9-5.9v31.9h47.7v-33.3l5.9 5.9 6.2-6.2-35.2-35.3zm-3 55.8h-9.9v-8.9h9.9v8.9zm0-12.2h-9.9v-10.1h9.9v10.1zm12.4 12.2h-9.1v-8.9h9.1v8.9zm0-12.2h-9.1v-10.1h9.1v10.1zm-37.5-34.8s4.7 8.1 3.1 12.3c0.1-0.3 3.5-2.4 3.4-2.5-1 0-1.5-0.2-2.5-0.3 1.1-0.1 3.3-1.4 3.9-2.2-0.7-0.2-1.4-0.4-2.2-0.4 1.2-0.5 2.4-1.8 3.2-2.8 0 0-1-0.1-2.3-0.2 0.7-0.2 1.9-3.6 2-3.6h-1.6s0.4-1.1 0.7-4c-0.1-0.1-1.1 0.3-1.3 0.2 0.1-1.4-0.1-2.6 0-3.7v-0.1c-0.8 0.8-1.8 1.5-2.9 2.5-0.2-0.1-0.6-1.1-0.7-1.1-2 2-2.5 3.1-2.5 3.1-0.4-0.4-0.7-0.8-1.1-1.2-0.4 0.5-1 2.1-0.9 3.3 1-0.1 1.7 0.7 1.7 0.7zm-6.6 15c2.4 0.3 5.4 0.5 6.6-1.2-5.3-4.7-10.4-9.1-15.1-13.3 5 4 10.4 8.1 15.9 12.5 1.4-1.5 0.7-4.5-0.1-6.8s-1.6-4-1.7-4c-0.3 1.1-0.6 2.1-0.9 3.2 0 0-0.5-4.3-1.4-5.4-0.2-0.3-0.8 1.9-1 2.1-0.1-0.5-0.7-1.7-1.2-2.6-0.5-1-1-1.7-1-1.7s-0.4 1-0.8 2.3c0-1.1-3.3-3.3-3.3-3.2-0.2 0.5-0.3 1.1-0.4 1.7 0 0-1.1-0.8-4.1-2-0.2 0.1 0 1.3-0.2 1.4-1.5-0.5-2.9-0.8-4-1.2h-0.1c0.6 1.1 1.1 2.4 1.9 3.8-0.1 0.2-1.3 0.3-1.3 0.4 1.5 2.8 2.5 3.7 2.5 3.7-0.6 0.2-1.1 0.5-1.6 0.7-0.1 0 2.7 2.8 3.8 2.7-1.2 0.7-2.1 1.3-2.1 1.3s0.8 0.4 1.8 0.7 2.3 0.7 2.8 0.7c-0.2 0.2-2.2 1.2-1.9 1.4 1.2 0.6 5.6 0.4 5.6 0.4-0.9 0.5-1.9 1-2.9 1.5 0-0.1 1.7 0.5 4.2 0.9z" />
                        </svg>
                        <figcaption>能源轉換</figcaption>
                    </figure>
                </a>
            </section>
            <section class="box4 col-sm-6">
                <a href="@Url.Content("~/College/know_3min3")">
                    <figure class="svg_figure fill_3">
                        <svg viewBox="0 0 90 90">
                            <path d="m62.4 50.5 13.8-5.6-24.7-14.1v-18.4l-11.6-10.4v28.8l-20.1 11.6 1.2 12.6 20.9-12v28h-1.9v17h10.7v-17h-1.9v-28.4l13.6 7.9zm-16.8-19.1c1.9 0 3.4 1.5 3.4 3.4s-1.5 3.4-3.4 3.4-3.4-1.5-3.4-3.4 1.5-3.4 3.4-3.4z" />
                        </svg>
                        <figcaption>能源消費</figcaption>
                    </figure>
                </a>
            </section>
            <section class="box4 col-sm-6">
                <a href="@Url.Content("~/College/know_3min4")">
                    <figure class="svg_figure fill_4">
                        <svg viewBox="0 0 90 90">
                            <path d="m71.9 15.5h-56.7-1.6v48.7h27v16.2h8.5v-16.1h27.1v-48.8h-4.3zm-38.9 44h-14.6v-17.2h14.6v17.2zm0-22h-14.6v-17.3h14.6v17.3zm19.3 22h-14.6v-17.2h14.6v17.2zm0-22h-14.6v-17.3h14.6v17.3zm19.3 22h-14.6v-17.2h14.6v17.2zm0-22h-14.6v-17.3h14.6v17.3z" />
                        </svg>
                        <figcaption>電力供需</figcaption>
                    </figure>
                </a>
            </section>
        </div>
    </blockquote>
</article>
