@{
    Layout = "~/Views/Publication/_Master.cshtml";
}
<div class="publishing_rbox">
    <h2 class="top_title">一、前言與緒論</h2>
    <hr class="w100">
    <h3 class="standard_caption1">4.修訂規劃</h3>
    <p>本說明資訊所有內涵將依能源統計每年度精進事項進行修訂；109年配合我國品質管理制度建立，新增納入數據品質管理方法，完善整體揭露範疇。</p>
</div>
