@{
    Layout = "~/Views/Sitemap/_Master.cshtml";
}

    <div class="container">
        <h1 class="standard_caption1">網站導覽</h1>
        <hr />
        <p>
            <ul class="thematic_ul">
                @*<li>
                    <a href="/">1. 首頁</a>
                    <ol>
                        <li>1.1<a href="/thematic">主題式圖資</a></li>
                        <li>1.2<a href="/Inquire/List?Id=0">常用查詢</a></li>
                        <li>1.3<a href="/database">資料庫查詢</a></li>
                        <li>1.4<a href="/publication/page0">統計刊物</a></li>


                    </ol>
                </li>
                <li>
                    <a href="/thematic">2. 主題式圖資</a>
                </li>
                <li>
                    <a href="#">3. 常用查詢</a>
                    <ol>
                        <li>3.1<a href="/Inquire/List?Id=0">整體能源供需</a></li>
                        <li>3.2<a href="/Inquire/List?Id=1">煤及煤產品</a></li>
                        <li>3.3<a href="/Inquire/List?Id=2">原油及石油產品</a></li>
                        <li>3.4<a href="/Inquire/List?Id=3">天然氣</a></li>
                        <li>3.5<a href="/Inquire/List?Id=4">電力</a></li>
                        <li>3.6<a href="/Inquire/List?Id=5">生質能及廢棄物</a></li>
                        <li>3.7<a href="/Inquire/List?Id=6">太陽熱能</a></li>
                        <li>3.8<a href="/Inquire/List?Id=7">熱能</a></li>
                        <li>3.9<a href="/Inquire/List?Id=8">能源指標</a></li>
                        <li>3.10<a href="/Inquire/List?Id=9">溫室氣體</a></li>

                    </ol>
                </li>
                <li>
                    <a href="#">4. 資料庫查詢</a>
                    <ol>
                        <li>4.1<a href="/Database/Search?PageId=0">能源供需-OECD格式</a></li>
                        <li>4.2<a href="/Database/Search?PageId=1">能源進口來源</a></li>
                        <li>4.3<a href="/Database/Search?PageId=2">常用能源指標</a></li>
                        <li>4.4<a href="/Database/Search?PageId=3">發電量</a></li>
                        <li>4.5<a href="/Database/Search?PageId=4">發電裝置容量</a></li>
                        <li>4.6<a href="/Database/Search?PageId=5">發電燃料投入</a></li>

                    </ol>
                </li>

                <li>
                    <a href="#">5. 電子刊物</a>
                    <ol>
                        <li>5.1<a href="/publication/page0">能源統計月報</a></li>
                        <li>5.2<a href="/publication/page01">能源統計年報</a></li>
                        <li>5.3<a href="/publication/page1">能源統計平衡表</a></li>
                        <li>5.4<a href="/publication/page2">能源統計手冊</a></li>
                        <li>5.5<a href="/publication/page3">燃料燃燒二氧化碳排放統計與分析</a></li>
                    </ol>
                </li>*@


                <li>
                    <a href="/">1. 首頁</a>
                    <ol>

                        <li>1.1<a href="/database">資料庫查詢</a></li>
                        <li>1.2<a href="/publication/monthly">電子刊物</a></li>


                    </ol>
                </li>

                <li>
                    <a href="#">2. 資料庫查詢</a>
                    <ol>
                        <li>2.1<a href="/Database/Search?PageId=0">能源供需-OECD格式</a></li>
                        <li>2.2<a href="/Database/Search?PageId=1">能源進口來源</a></li>
                        <li>2.3<a href="/Database/Search?PageId=2">常用能源指標</a></li>
                        <li>2.4<a href="/Database/Search?PageId=3">發電量</a></li>
                        <li>2.5<a href="/Database/Search?PageId=4">發電裝置容量</a></li>
                        <li>2.6<a href="/Database/Search?PageId=5">發電燃料投入</a></li>

                    </ol>
                </li>

                <li>
                    <a href="#">3. 電子刊物</a>
                    <ol>
                        <li>3.1<a href="/publication/monthly">能源統計月報</a></li>
                        <li>3.2<a href="/publication/page01">能源統計年報(平衡表)</a></li>
                        <li>3.3<a href="/publication/page2">能源統計手冊</a></li>
                        <li>3.4<a href="/publication/page3">燃料燃燒二氧化碳排放統計與分析</a></li>
                    </ol>
                </li>
            </ul>
        </p><br /><br />
        <hr />

    </div>
